{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block title %}Статьи{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Статьи</h1>
            </div>
        </div>
        
        {% for article in articles %}
            <hr>
            <div class="row mt-3">
                <div class="col-md-12">
                    <h3>{{ article.title }}</h3>
                    <p><strong>Автор:</strong> {{ article.author }}</p>
                    <p class="source-link"><strong>Источник: </strong><a href="{{ article.url }}">{{ article.url }}</a></p>
                    <label for="article_checkbox"><strong>Соответствует теме "Криптоанализ"?</strong>  </label>
                    <input type="checkbox" id="article_checkbox_{{ article.id }}" name="article_checkbox"
                           {% if article.compliance_label %} checked {% endif %} onclick="updateCheckbox({{ article.id }})">
                    <script>
                        function updateCheckbox(id) {
                            var checkboxValue = document.getElementById("article_checkbox_" + id).checked;
                            console.log(document.getElementById("article_checkbox_" + id))
                            fetch('/update_checkbox', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    checkboxValue: checkboxValue,
                                    articleId: id
                                })
                            })
                            .then(response => {
                                if (response.ok) {
                                    console.log('Checkbox updated');
                                } else {
                                    console.error('Failed to update checkbox');
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                        }
                    </script>
                    <p><strong>Аннотация:</strong> {{ article.annotation }}</p>
                    <p><strong>Текст статьи:</strong> {{ article.text }}</p>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
